<div class="row">
  <div class="col">
    <button class="btn btn-primary">new recipe</button>
  </div>
</div>
<hr />
<ck-recipes-item
  *ngFor="let recipe of recipes"
  [recipe]="recipe"
></ck-recipes-item>
