<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand text-capitalize" href="#">recipe book</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-capitalize" href="#">recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-capitalize" href="#">shopping list</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-capitalize" href="#">
          dropdown
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item text-capitalize" href="#">save data</a>
          <a class="dropdown-item text-capitalize" href="#">fetch data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
