<li class="media row mb-2" style="cursor: pointer">
  <div class="col-4">
    <img
      [src]="recipe.image"
      class="mr-2 img-thumbnail img-fluid"
      [alt]="recipe.name"
    />
  </div>
  <div class="col-8">
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{ recipe.name }}</h5>
      {{ recipe.description }}
    </div>
  </div>
</li>
