<ck-header></ck-header>
<div class="container">
  <div class="row">
    <div class="col">
      <ck-recipes></ck-recipes>
      <ck-shopping-list></ck-shopping-list>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
