<div class="card">
  <img [src]="recipe.image" class="card-img-top" [alt]="recipe.name" />

  <div class="card-body">
    <h5 class="card-title">{{ recipe.name }}</h5>
    <p class="card-text">
      {{ recipe.description }}
    </p>
  </div>

  <div class="btn-group" role="group">
    <button
      type="button"
      class="btn btn-secondary dropdown-toggle text-capitalize"
    >
      manage recipe
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">add ingredients</a>
      <a class="dropdown-item" href="#">edit recipe</a>
      <a class="dropdown-item" href="#">remove recipe</a>
    </div>
  </div>
</div>
